@font-face {
    font-family: "ROSans";
    font-style: normal;
    font-weight: normal;
    src: url("../includes/ROsanswebtextregular.ttf") format("opentype");
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
html, body, #map {
    font-family: ROSans;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: beige;
}
html, body, #container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
body {
    padding-top: 50px;
}
.starter-template {
    background: lightgray;
    padding: 20px 15px;
    text-align: center;
}
.shortTitle {
    fill: black;
    font-size: 1em;
}
.shortTitle:hover {
    stroke: yellow;
    fill: yellow;
    z-index: 100;
}
.category:hover {
    cursor: pointer;
    stroke: yellow;
    fill: yellow;
    z-index: 100;
}
.period:hover {
    cursor: pointer;
    stroke: yellow;
    fill: yellow;
    z-index: 100;
}
.backarrow {
    cursor: pointer;
    fill: black;
}
.backarrow:hover {
    stroke: red;
}
.new {
    fill: red;
}
.defaultcircle {
    fill: yellow;
}
