@font-face {
    font-family: "ROSans";
    font-style: normal;
    font-weight: normal;
    src: url("../includes/ROsanswebtextregular.ttf") format("opentype");
}
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
html, body, #map {
    font-family: ROSans;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: beige;
}
html, body, #container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
body {
    padding-top: 50px;
}
.item-container{
  fill-opacity:0.85;
}
.item-container-drop-shadow
{
  filter: blur(1px);
}
.item-id{
  font-size:14px;
  font-weight:800;
}
.starter-template {
    background: lightgray;
    padding: 20px 15px;
    text-align: center;
}
.shortTitle {
    fill: black;
    font-size: 10px;
}
.shortTitle:hover {
    font-weight: 900;
    fill: black;
    font-size: 10px;
    z-index: 100;
}
.period  {
    fill: white;
    font-size: 1.2em;
    font-weight: bold;
}
.category {
    font-size: 1.2em;
    font-weight: bold;
}
.category:hover {
    cursor: pointer;
    background: white;
    fill: yellow;
    font-size: 1.5em;
}
.period:hover {
    cursor: pointer;
    fill: yellow;
    /*fill: #187aac;*/
    font-size: 1.5em;
}
.backarrow {
    cursor: pointer;
    font-size: 5em;
    fill: black;
}
.backarrow:hover {
    fill: #3182bd;
    font-size: 6em;
}
.new {
    fill: red;
}
.thumbnail:hover {
    fill: yellow;
}
