<div class="slide">
    <!-- <h1 class="center">{{vm.title}}</h1>
    <h2 class="center">{{vm.subTitle}}</h2> -->

    <style>

    .slide-title{
      font-size: 40px;
      position: absolute;
      left: 80px;
      top: 10px;
      fill: black;
      background-color: black;
      color: white;
      padding: 3px;
      min-width: 0;
      font-weight:700;
    }

    .slide-subtitle{
      font-size: 25px;
      position: absolute;
      left: 80px;
      top: 75px;
      fill: black;
      background-color: black;
      color: white;
      padding: 3px;
    }


    .content-list{
      list-style:none;
      position:absolute;
      left:-90px;
      top:10px;
    }
    .content-preview{
      background:white;
      cursor:pointer;
      width: 100px;
      height: 100px;
      border-color: gray;
      border-width: 3px;
      border-style: solid;
      margin-bottom: 20px;
      position:relative;
      opacity:0.75;
    }

    .selected-content
    {
      opacity:1;
      border-width:3px;
      border-color: black;
      opacity:1;
    }

    .image-preview{
      width:100%;
      height:100%;
      opacity:0.25;
    }

    .selected-image
    {
      opacity:1;
    }

    .active-content{
      width:100% !important;
      height:auto !important;
      position:absolute;
      margin:0;
    }

    .active-text
    {
      margin-left:80px;
      font-size:30px;
      color:black;
      margin-top:120px;
      font-weight:500;
      position:absolute;
    }

    .active-image
    {
      top:0;
      bottom:0;
      left:0;
      right:0;
      position:absolute;
    }

    .preview-icon
    {
      color:blue;
      position: absolute;
      top: 20px;
      font-size: 40px;
      right: 33px;
      top: 30px;
    }

    </style>

    <div class="active-content">
      <div data-ng-switch="vm.activeContent.contentType">
        <div ng-switch-when="text">
          <span class="active-text">{{vm.activeContent.content}}</span>
        </div>
        <div ng-switch-when="youtube">
          <!-- <iframe id="ytplayer" type="text/html" width="640" height="390" src="{{c.videoUrl}}" frameborder="0"/> -->
          <iframe src="{{vm.activeContent.videoUrl}}" frameborder="0" style="width:100%;height:100%"></iframe>
          <!-- <span>{{vm.activeContent.videoUrl}}</span> -->
        </div>
        <div ng-switch-when="image">
            <div class="col-md-12">
          <img src="{{vm.activeContent.content}}" class="active-image img-responsive" alt="{{vm.title}}" />
                <img class="img-responsive" data-ng-src="{{vm.activeContent.content}}" alt="{{vm.title}}" />
            </div>
        </div>
      </div>
    </div>

    <ul class="content-list" >
      <li data-ng-repeat="c in vm.technology.content">
        <div ng-switch="c.contentType" class="content-preview" ng-class="{\'selected-content\' : c.isSelected}" data-ng-click="vm.selectPage(c.id)">
            <div ng-switch-when="text">
          <span class="preview-icon fa fa-font fa-3" ></span>
        </div>
        <div ng-switch-when="youtube">
          <img src="http://img.youtube.com/vi/{{c.content}}/0.jpg" ng-class="{\'selected-image\' : c.isSelected}" class="image-preview"/>
          <span class="preview-icon fa fa-play fa-3" ></span>
          <!-- <object data="{{c.content}}?autoplay=1" width="100%" height="100%"></object> -->
        </div>
        <div ng-switch-when="image">
          <img src="{{c.content}}" ng-class="{\'selected-image\' : c.isSelected}" class="image-preview" alt="{{vm.title}}" />
          <span class="preview-icon fa fa-image fa-3" ></span>
        </div>
      </div>
      </li>
  </ul>

  <div class="slide-title">
    {{vm.technology.title}}
  </div>

  <div ng-show="vm.technology.subTitle" class="slide-subtitle">
    {{vm.technology.subTitle}}
  </div>

      <!-- <ul class="content-list" >
        <li data-ng-repeat="c in vm.technology.content">
          <div ng-switch="c.contentType">
          <div ng-switch-when="text">
            <span>{{c.content}}</span>
          </div>
          <div ng-switch-when="youtube">
            <object data="{{c.content}}?autoplay=1" width="100%" height="100%"></object>
          </div>
          <div ng-switch-when="image">
            <img src="{{c.content}}" alt="{{vm.title}}" />
          </div>
        </div>
        </li>

    </ul> -->

    </ul>
    <p>
        {{vm.text}}
    </p>
    <!-- <div class="col-md-12">
        <img data-ng-if="vm.media" class="img-responsive" data-ng-src="{{vm.media}}" alt="{{vm.title}}" />
    </div> -->
</div>
