<div>
    <div class="technology-list-container">
        <ul class="ts" id="tslist">
            <li data-ng-repeat="t in vm.technologies | priorityFilter:tech.priority | filter: searchText | orderBy : 'id'" ng-click="vm.focus(t)"
            id="tech-{{t.id}}">
                <div class="ts-item" ng-class="{'focus-opacity' :  t.focus}" style="background:{{t.color}}">
                    <div class="list-id">{{t.id}}</div>
                    <div class="list-title">{{t.title.trunc(44)}}</div>
                </div>
            </li>
        </ul>
    </div>

    <div class="container-fluid" style="padding: 0 0 0 0">
        <div class="col-md-6" style="width:45%">
            <tech-radar-chart technologies="vm.technologies" searchterm="searchText" prioritylevel="tech.priority" options="vm.options"
            startangle="-90" endangle="270"></tech-radar-chart>
        </div>
        <div class="col-md-6" style="background:#bdbdbd;margin:0;width:55%;height:100%;padding:0">
            <infoSlide></infoSlide>
        </div>
    </div>
    <!-- /.container -->
</div>